user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
  worker_connections  1024;
}

stream {
    upstream backend {
      {% for line in webservers %}
        server {{ line -}}:3306;
      {% endfor %}
    }
    
    server {
      listen 3306;
      proxy_pass backend;
    }
}

http {
    upstream backend {
      {% for line in webservers %}
        server {{ line -}}:8080;
      {% endfor %}
    }
    
    server {
        listen 80;
        location / {
            proxy_pass http://backend;
        }
    }
}
